Repository boostcampwm2023/and04-catchy-tape, pull requests merged in 2023-11, with the labels that each got.

#43 로고
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: ✨ feat, 🤖 android

#46 서버 eslint setting
  server/.eslintrc.js
Labels: ⚙️ setting, 🖥 server

#47 디자인 시스템
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/themes.xml
  android/core/ui/src/main/res/values-night/colors.xml
  android/core/ui/src/main/res/values-night/themes.xml
  android/core/ui/src/main/res/values/colors.xml
  android/core/ui/src/main/res/values/themes.xml
Labels: 🧦 chore, 🤖 android

#49 Navigation 설정
  android/app/build.gradle.kts
  android/app/src/main/res/drawable/home_tab_selector.xml
  android/app/src/main/res/drawable/ic_home.xml
  android/app/src/main/res/drawable/ic_home_filled.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/menu/bottom_navigation_items.xml
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/core/ui/build.gradle.kts
  android/core/ui/src/main/res/values/strings.xml
  android/feature/home/src/main/res/navigation/home_navigation.xml
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#51 base fragment 생성
  android/core/ui/build.gradle.kts
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
Labels: 🧦 chore, 🤖 android

#53 정해진 텍스트들 추가
  android/core/ui/src/main/res/values/strings.xml
Labels: 🧦 chore, 🤖 android

#67 build-logic 플러그인 개발
  android/build-logic/build.gradle.kts
  android/build-logic/settings.gradle.kts
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidLibraryPlugin.kt
  android/core/data/build.gradle.kts
  android/core/ui/build.gradle.kts
  android/feature/home/build.gradle.kts
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: 🧦 chore, 🤖 android

#69 Home 화면 UI
  android/app/src/main/res/layout/activity_main.xml
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/Music.kt
  android/core/ui/src/main/res/drawable/ic_upload.xml
  android/core/ui/src/main/res/values-night/themes.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/MusicHorizontalAdapter.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/home/src/main/res/layout/item_music_horizontal.xml
  android/feature/home/src/main/res/navigation/home_navigation.xml
Labels: ✨ feat, 🤖 android

#71 닉네임 설정
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/dto/userCreate.dto.ts
  server/src/entity/user.entity.ts
  server/src/httpStatusCode.enum.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#70 구글로 로그인 환경 설정
  android/app/build.gradle.kts
  android/feature/login/.gitignore
  android/feature/login/build.gradle.kts
  android/feature/login/consumer-rules.pro
  android/feature/login/proguard-rules.pro
  android/feature/login/src/main/AndroidManifest.xml
  android/gradle/libs.versions.toml
  android/settings.gradle.kts
Labels: 🧦 chore, 🤖 android

#72 Hilt 설정
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ohdodok/catchytape/CtApplication.kt
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/build-logic/build.gradle.kts
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidHiltPlugin.kt
  android/build.gradle.kts
  android/core/data/build.gradle.kts
  android/feature/home/build.gradle.kts
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/login/build.gradle.kts
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#73 User 모듈 오류 수정, OAuth 세팅
  server/src/app.module.ts
  server/src/entity/user.entity.ts
  server/src/httpStatusCode.enum.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: 🐞 bug, 🖥 server

#74 Retrofit2 DI 및 직렬화 라이브러리 추가
  android/build.gradle.kts
  android/core/data/build.gradle.kts
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#76 timber 적용
  android/app/build.gradle.kts
  android/app/src/main/java/com/ohdodok/catchytape/CtApplication.kt
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: 🧦 chore, 🤖 android

#81 typeorm config 파일 작성
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/config/typeorm.config.ts
Labels: ✨ feat, ⚙️ setting, 🖥 server

#77 안드로이드 PR시 단위 테스트 자동화
  .github/workflows/android-pull-request-ci.yml
Labels: 🚀 CI / CD, 🤖 android

#86 ToolBar 스타일 정의
  android/core/ui/src/main/res/drawable/ic_arrow_back.xml
  android/core/ui/src/main/res/drawable/ic_upload.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameFragment.kt
  android/feature/login/src/main/res/layout/fragment_nickname.xml
Labels: ✨ feat, 🤖 android

#84 Object Storage에 음원, 이미지 파일 업로드
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/config/ncloud.config.ts
  server/src/constants.ts
  server/src/entity/music.entity.ts
  server/src/httpStatusCode.enum.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
Labels: ✨ feat, 🖥 server

#91 로그인 화면 구성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/core/ui/src/main/res/drawable/btn_login.xml
  android/core/ui/src/main/res/drawable/ic_google.xml
  android/core/ui/src/main/res/drawable/ic_launcher_icon.xml
  android/core/ui/src/main/res/drawable/ic_login_icon.xml
  android/core/ui/src/main/res/drawable/ic_logo.xml
  android/core/ui/src/main/res/values/colors.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/core/ui/src/main/res/values/strings.xml
  android/feature/login/src/main/AndroidManifest.xml
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginActivity.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/res/layout/activity_login.xml
  android/feature/login/src/main/res/layout/fragment_login.xml
  android/feature/login/src/main/res/navigation/login_navigation.xml
Labels: ✨ feat, 🤖 android

#95 chore : CODEOWNER android 반영
  .github/CODEOWNERS
  android/ test.md
Labels: ⚙️ setting

#96 chore : CODEOWNER server 반영
  .github/CODEOWNERS
  android/ test.md
Labels: ⚙️ setting

#92 keystore 공유를 위한 설정
  .github/workflows/android-pull-request-ci.yml
  android/.gitignore
  android/app/build.gradle.kts
Labels: 🚀 CI / CD, ⚙️ setting, 🤖 android

#93 build type에 따른 httpinterceptor Logging
  android/app/src/main/res/values/strings.xml
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidLibraryPlugin.kt
  android/core/data/build.gradle.kts
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🧦 chore, 🤖 android

#99 JwtStrategy, Guard 구현
  server/src/app.module.ts
  server/src/auth/auth.module.ts
  server/src/auth/jwt.strategy.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
Labels: ✨ feat, 🖥 server

#98 닉네임 UI
  android/core/ui/src/main/res/drawable/btn_background.xml
  android/core/ui/src/main/res/drawable/et_background.xml
  android/core/ui/src/main/res/drawable/ic_logo.xml
  android/core/ui/src/main/res/values-night/themes.xml
  android/core/ui/src/main/res/values/colors.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/core/ui/src/main/res/values/strings.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameFragment.kt
  android/feature/login/src/main/res/layout/fragment_login.xml
  android/feature/login/src/main/res/layout/fragment_nickname.xml
  android/feature/login/src/main/res/navigation/login_navigation.xml
  android/feature/login/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#101 upload UI 구성
  android/app/build.gradle.kts
  android/core/ui/src/main/res/drawable/ic_camera.xml
  android/core/ui/src/main/res/values/arrays.xml
  android/feature/upload/.gitignore
  android/feature/upload/build.gradle.kts
  android/feature/upload/consumer-rules.pro
  android/feature/upload/proguard-rules.pro
  android/feature/upload/src/main/AndroidManifest.xml
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
  android/feature/upload/src/main/res/navigation/upload_navigation.xml
  android/settings.gradle.kts
Labels: ✨ feat, 🤖 android

#102 음원 파일 업로드 (DB에 저장)
  server/src/app.module.ts
  server/src/auth/jwt.strategy.ts
  server/src/dto/musicCreate.dto.ts
  server/src/entity/music.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.controller.ts
  server/src/music/music.module.ts
  server/src/music/music.service.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#103 음원 파일 업로드 (유저 입력)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidLibraryPlugin.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/bindingadapter/UploadBindingAdapter.kt
  android/core/ui/src/main/res/drawable/btn_complete_selector.xml
  android/core/ui/src/main/res/drawable/ic_cancel.xml
  android/core/ui/src/main/res/values/arrays.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
  android/feature/upload/src/main/res/navigation/upload_navigation.xml
Labels: ✨ feat, 🤖 android

#105 [업로드] 파일 선택
  android/core/ui/src/main/res/values/strings.xml
  android/feature/upload/build.gradle.kts
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
  android/feature/upload/src/main/res/navigation/upload_navigation.xml
Labels: ✨ feat, 🤖 android

#104 홈화면 가장 최근 업로드 된 음악 불러오기
  server/src/constants.ts
  server/src/dto/musicCreate.dto.ts
  server/src/entity/music.entity.ts
  server/src/httpStatusCode.enum.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
  server/src/upload/upload.controller.ts
Labels: ✨ feat, 🖥 server

#107 구글 로그인 - google token 가져오기
  .github/workflows/android-pull-request-ci.yml
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/build.gradle.kts
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
  android/feature/login/build.gradle.kts
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🤖 android

#108 구글 로그인 구현
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/dto/userCreate.dto.ts
  server/src/httpStatusCode.enum.ts
  server/src/music/music.controller.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#109 구글 로그인
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/data/build.gradle.kts
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/ApiModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/DataStoreModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/LoginRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/LoginResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/SignUpRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/AuthRepositoryImpl.kt
  android/core/domain/build.gradle.kts
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/AuthRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/LoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/SignUpUseCase.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameViewModel.kt
  android/feature/login/src/main/res/layout/fragment_nickname.xml
  android/feature/login/src/main/res/navigation/login_navigation.xml
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🤖 android

#112 Android Release APK 배포 자동화
  .github/workflows/android-cd.yml
  android/app/build.gradle.kts
Labels: 🚀 CI / CD, 🤖 android

#117 닉네임 유효성 검사
  .github/workflows/android-pull-request-ci.yml
  android/build.gradle.kts
  android/core/domain/build.gradle.kts
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/signup/NicknameValidationUseCase.kt
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/signup/NicknameValidationUseCaseTest.kt
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/signup/TestConfig.kt
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🔎 test, 🚀 CI / CD, 🤖 android

#113 자동 로그인
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ohdodok/catchytape/CtApplication.kt
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/values/strings.xml
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/AuthRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/AuthRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/GetIdTokenUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/LoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/SignUpUseCase.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginActivity.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/BindingAdapter.kt
Labels: ✨ feat, 🤖 android

#115 서버 테스트 자동화 코드 작성
  .github/workflows/server-dev-ci.yml
  server/package.json
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.service.spec.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.service.spec.ts
Labels: 🚀 CI / CD, 🖥 server

#135 Android Firbase App 배포 자동화
  .github/workflows/android-cd.yml
  android/app/build.gradle.kts
Labels: 🚀 CI / CD, 🤖 android

#140 사용자 검증 API, 탈퇴 API 구현
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Labels: ✨ feat, 🖥 server

#139 Dockerfile 작성
  server/.dockerignore
  server/Dockerfile
Labels: ✨ feat, 🖥 server

#137 Kotest CI result 업로드
  .github/workflows/android-pull-request-ci.yml
  android/build.gradle.kts
  android/core/domain/build.gradle.kts
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/KoTestConfig.kt
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/SampleTest.kt
Labels: 🔎 test, 🚀 CI / CD, 🤖 android

#141 음악 장르 가져오기
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/ApiModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicGenresResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/GetMusicGenresUseCase.kt
  android/core/ui/src/main/res/values/arrays.xml
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/BindingAdapter.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🤖 android

#143 음악 플레이어 UX / UI
  android/app/build.gradle.kts
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/core/ui/src/main/res/drawable/ic_next.xml
  android/core/ui/src/main/res/drawable/ic_pause.xml
  android/core/ui/src/main/res/drawable/ic_play.xml
  android/core/ui/src/main/res/drawable/ic_playlist.xml
  android/core/ui/src/main/res/drawable/ic_previous.xml
  android/core/ui/src/main/res/drawable/ic_view_radius_12.xml
  android/core/ui/src/main/res/values/colors.xml
  android/feature/player/.gitignore
  android/feature/player/build.gradle.kts
  android/feature/player/consumer-rules.pro
  android/feature/player/proguard-rules.pro
  android/feature/player/src/main/AndroidManifest.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/player/src/main/res/navigation/player_navigation.xml
  android/settings.gradle.kts
Labels: ✨ feat, 🤖 android

#146 CD 설정
  .github/workflows/server-cd.yml
Labels: ✨ feat, 🖥 server

#145 공통으로 사용되는 MusicAdapter, UI
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/SampleTest.kt
  android/core/ui/build.gradle.kts
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BindingAdapter.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/MusicAdapter.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/Orientation.kt
  android/core/ui/src/main/res/drawable/ic_more.xml
  android/core/ui/src/main/res/layout/item_music_horizontal.xml
  android/core/ui/src/main/res/layout/item_music_vertical.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/MusicHorizontalAdapter.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
Labels: ✨ feat, 🤖 android

#148 네트워크 연결 상태 확인
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/java/com/ohdodok/catchytape/NetworkStateObserver.kt
  android/core/ui/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#142 Presigned URL 활용한 업로드
  server/package-lock.json
  server/package.json
  server/src/config/ncloud.config.ts
  server/src/constants.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
Labels: ✨ feat, 🖥 server

#150 플레이리스트 추가 기능
  server/src/app.module.ts
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/constants.ts
  server/src/dto/playlistCreate.dto.ts
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/playlist.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.module.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#151 업로드 관련 버그 수정
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
Labels: 🐞 bug, 🖥 server

#147 Upload UI 상태
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UploadApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/ApiModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/UrlResponse.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadFileUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadMusicUseCase.kt
  android/core/ui/build.gradle.kts
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BindingAdapter.kt
  android/core/ui/src/main/res/drawable/ic_camera.xml
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/BindingAdapter.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
  android/feature/upload/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🤖 android

#153 플레이리스트 조회 API
  server/src/entity/music_playlist.entity.ts
  server/src/entity/playlist.entity.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#152 로그인 상태라면 인증 헤더 넣기
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/datasource/TokenLocalDataSource.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/qualifier/AuthInterceptor.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/AuthRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/AuthRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/AutomaticallyLoginUseCase.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameFragment.kt
Labels: ✨ feat, 🤖 android

#155 홈화면에서 사용자가 최근 재생한 음악 가져오기
  server/src/entity/music_playlist.entity.ts
  server/src/playlist/playlist.service.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.service.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#157 Error Code 추가
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/config/catchyException.ts
  server/src/config/errorCode.enum.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#161 최근 업로드 된 음악 목록에 user 정보 추가
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
Labels: 🐞 bug, 🖥 server

#162 홈 화면 노래 요청 (내가 업로드한 노래)
  server/src/entity/music.entity.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
Labels: ✨ feat, 🖥 server

#159 음원 파일 업로드
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UploadApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/UrlResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/UuidResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UrlRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UrlRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadFileUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadMusicUseCase.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🤖 android

#160 최근 업로드된 노래
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/NicknameResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/Music.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/GetRecentUploadedMusic.kt
  android/core/ui/src/main/res/layout/item_music_horizontal.xml
  android/core/ui/src/main/res/layout/item_music_vertical.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
Labels: ✨ feat, 🤖 android

#167 최근 재생한 노래 클릭시, Home -> Player 화면 이동
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/player/src/main/res/navigation/player_navigation.xml
Labels: ✨ feat, 🤖 android

#169 싱글톤 어노테이션, Retrofit Service 생성 간소화
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/ApiModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
Labels: 🛠️ refactor, 🤖 android

#182 drawable 색상, 디자인 반영
  android/app/src/main/res/drawable/ic_home.xml
  android/app/src/main/res/drawable/ic_home_filled.xml
  android/core/ui/src/main/res/drawable/ic_more.xml
Labels: ✨ feat, 🤖 android

#186 music 필드명 수정
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/dto/musicCreate.dto.ts
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
  server/src/upload/upload.controller.ts
Labels: 🛠️ refactor, 🖥 server

#188 사용자 프로필 이미지 수정 API 구현
  server/src/upload/upload.controller.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#192 uploadMusic, uploadImage 복구
  server/src/upload/upload.controller.ts
Labels: 🐞 bug, 🖥 server

#170 플레이어 재생, 일시정지
  android/app/build.gradle.kts
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidLibraryPlugin.kt
  android/feature/player/build.gradle.kts
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerEventListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/player/src/main/res/navigation/player_navigation.xml
  android/gradle/libs.versions.toml
Labels: ✨ feat, 🤖 android

#190 디자인 수정 (색깔 마진)
  android/core/ui/src/main/res/drawable/et_background.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: 🤹 enhance, 🤖 android

#194 Usecase 구조
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UploadApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UrlRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UuidRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/Music.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UrlRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UuidRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/GetMusicGenresUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/GetRecentUploadedMusic.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadFileUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/UploadMusicUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/login/AutomaticallyLoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/login/LoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/signup/SignUpUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/upload/UploadMusicUseCase.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameViewModel.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
Labels: 🛠️ refactor, 🤖 android

#193 사용자 정보 불러오기
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#195 네트워크 예외 처리를 다른 컴포넌트에도 적용
  android/app/build.gradle.kts
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UploadApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/AuthRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UrlRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/CtErrorType.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameViewModel.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
Labels: ✨ feat, 🤖 android

#197 음악 인코딩 관련 기능 구현
  server/package-lock.json
  server/package.json
  server/src/config/errorCode.enum.ts
  server/src/music/music.module.ts
  server/src/music/music.service.ts
  server/src/upload/upload.service.ts
Labels: ✨ feat, 🖥 server

#200 업로드 url에 content-type추가
  server/src/constants.ts
  server/src/upload/upload.service.ts
Labels: 🧦 chore, 🖥 server

#196 재생 목록 UI
  android/app/build.gradle.kts
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/drawable/ic_playlist_filled.xml
  android/app/src/main/res/drawable/playlist_tab_selector.xml
  android/app/src/main/res/menu/bottom_navigation_items.xml
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/PlayList.kt
  android/core/ui/src/main/res/values/dimens.xml
  android/feature/playlist/.gitignore
  android/feature/playlist/build.gradle.kts
  android/feature/playlist/consumer-rules.pro
  android/feature/playlist/proguard-rules.pro
  android/feature/playlist/src/main/AndroidManifest.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistAdapter.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
  android/feature/playlist/src/main/res/layout/item_playlist.xml
  android/feature/playlist/src/main/res/navigation/playlist_navigation.xml
  android/feature/playlist/src/main/res/values/strings.xml
  android/settings.gradle.kts
Labels: ✨ feat, 🤖 android

#203 파일 업로드 권한 수정, 경로 수정
  server/src/music/music.service.ts
  server/src/upload/upload.service.ts
Labels: 🐞 bug, 🖥 server

#205 JWT 유효기한 변경
  .github/workflows/server-cd.yml
  server/src/auth/auth.module.ts
Labels: 🛠️ refactor, 🖥 server

#207 음악 정보 불러오기 API 구현
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
Labels: ✨ feat, 🖥 server

#209 바텀 재생 바 UI 구성
  android/app/src/main/res/layout/activity_main.xml
  android/core/ui/src/main/res/values/strings.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerControlView.kt
  android/feature/player/src/main/res/layout/view_player_control.xml
  android/feature/player/src/main/res/values/attrs.xml
  android/feature/player/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#211 플레이리스트 제목 숫자 추가
  server/src/dto/playlistCreate.dto.ts
Labels: 🐞 bug, 🖥 server

#213 재생 목록 추가 UI 구성
  android/app/src/main/res/layout/activity_main.xml
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/Playlist.kt
  android/core/ui/src/main/res/drawable/view_outline_radius_4.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/NewPlaylistDialog.kt
  android/feature/playlist/src/main/res/drawable/ic_plus.xml
  android/feature/playlist/src/main/res/layout/dialog_new_playlist.xml
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
Labels: ✨ feat, 🤖 android

#212 음악/이미지 파일 업로드 방식 수정
  server/src/config/errorCode.enum.ts
  server/src/constants.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.service.ts
Labels: 🛠️ refactor, 🖥 server

#217 playlist_id 필드명 변경
  server/src/entity/music_playlist.entity.ts
  server/src/entity/playlist.entity.ts
  server/src/playlist/playlist.service.ts
Labels: 🛠️ refactor, 🖥 server

#221 플레이리스트 정보에 음악 개수, 썸네일 링크 추가
  server/src/entity/music_playlist.entity.ts
  server/src/music/music.controller.ts
  server/src/playlist/playlist.service.ts
Labels: 🛠️ refactor, 🖥 server

#219 재생 위치 드래그
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/BindingAdapters.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/di/ExoPlayerModule.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/player/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#218 ts 파일 응답 API 구현
  server/src/config/errorCode.enum.ts
  server/src/httpStatusCode.enum.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
Labels: ✨ feat, 🖥 server

#223 플레이리스트 제목 제한 수정
  server/src/dto/playlistCreate.dto.ts
Labels: 🛠️ refactor, 🖥 server

#226 바텀 재생바 & 네비게이션 visibility
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/ui/src/main/res/drawable/et_background.xml
  android/core/ui/src/main/res/drawable/ic_arrow_down.xml
  android/core/ui/src/main/res/drawable/ic_camera.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🤖 android

#216 재생목록 추가 기능 동작
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/PlaylistApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/ApiModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/PlaylistRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/PlaylistResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/PlaylistRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/PlaylistRepository.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/NewPlaylistDialog.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/playlist/src/main/res/layout/dialog_new_playlist.xml
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
Labels: ✨ feat, 🤖 android

#228 music DB에 저장 시 불필요한 코드 제거
  server/src/music/music.service.ts
Labels: 🐞 bug, 🖥 server

#229 인코딩 관련 에러 코드 추가
  server/src/config/errorCode.enum.ts
  server/src/music/music.service.ts
Labels: 🛠️ refactor, 🖥 server

#235 업로드 시 파일명 고정
  server/src/music/music.service.ts
  server/src/upload/upload.service.ts
Labels: 🐞 bug, 🖥 server

#236 오타 수정
  server/src/upload/upload.service.ts
Labels: 🐞 bug, 🖥 server

#232 Bottom Player 동작 구현
  android/app/build.gradle.kts
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerControlView.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/res/layout/view_player_control.xml
Labels: ✨ feat, 🤖 android

#243 uploadEncodedFile 에외처리 추가
  server/src/music/music.service.ts
  server/src/upload/upload.service.ts
Labels: 🐞 bug, 🖥 server

#237 서버에서 바뀐 업로드 과정 반영
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UploadApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/UrlResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UploadRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UrlRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UploadRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UrlRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/upload/UploadFileUseCase.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🤖 android

#247 음악 제목 숫자 추가
  server/src/dto/musicCreate.dto.ts
Labels: 🛠️ refactor, 🖥 server
