Repository boostcampwm2023/and04-catchy-tape, pull requests merged in 2023-12, with the labels that each got.

#248 업로드 음악 제목 유효성 검사
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/upload/ValidateMusicTitleUseCase.kt
  android/core/domain/src/test/java/com/ohdodok/catchytape/core/domain/usecase/upload/MusicTitleValidationUseCaseTest.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
  android/feature/upload/src/main/res/values/strings.xml
Labels: ✨ feat, 🔎 test, 🤖 android

#249 최근 재생한 노래가 있을 때 bottom player 보이기
  android/app/build.gradle.kts
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/PlaylistRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/PlaylistRepository.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
Labels: ✨ feat, 🤖 android

#259 이전, 다음 노래 이동
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerControlView.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/res/layout/view_player_control.xml
  android/feature/player/src/main/res/values/strings.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/res/navigation/playlist_navigation.xml
Labels: ✨ feat, 🤖 android

#268 최근 재생 목록 노래 추가 API
  server/src/config/errorCode.enum.ts
  server/src/entity/music_playlist.entity.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#271 검색 기능 구현 (성능 고려 X)
  server/src/entity/music.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#266 검색 - 키워드 입력
  android/app/build.gradle.kts
  android/app/src/main/res/drawable/ic_search.xml
  android/app/src/main/res/menu/bottom_navigation_items.xml
  android/app/src/main/res/navigation/catchytape_navigation.xml
  android/core/ui/src/main/res/drawable/search_bar_background.xml
  android/feature/search/.gitignore
  android/feature/search/build.gradle.kts
  android/feature/search/consumer-rules.pro
  android/feature/search/proguard-rules.pro
  android/feature/search/src/main/AndroidManifest.xml
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchViewModel.kt
  android/feature/search/src/main/res/layout/fragment_search.xml
  android/feature/search/src/main/res/navigation/search_navigation.xml
  android/feature/search/src/main/res/values/strings.xml
  android/settings.gradle.kts
Labels: ✨ feat, 🤖 android

#272 최근 추가된 노래 클릭시 플레이어 화면으로 이동
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicResponse.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/CurrentPlaylist.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/Music.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/player/CurrentPlayListUseCase.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/MusicAdapter.kt
  android/core/ui/src/main/res/layout/item_music_horizontal.xml
  android/core/ui/src/main/res/layout/item_music_vertical.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
Labels: ✨ feat, 🤖 android

#278 바텀 내비게이션 스타일
  android/app/src/main/res/layout/activity_main.xml
  android/core/ui/src/main/res/color/navigation_view_item_icon_tint.xml
  android/core/ui/src/main/res/values-night/themes.xml
  android/core/ui/src/main/res/values/themes.xml
Labels: 🤹 enhance, 🤖 android

#283 모든 요청 로깅
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/music/music.controller.ts
  server/src/music/music.module.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.module.ts
  server/src/playlist/playlist.service.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#274 MediaSession 을 이용한 Media Control Player UI
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/java/com/ohdodok/catchytape/mediasession/PlaybackService.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerUtil.kt
Labels: ✨ feat, 🤖 android

#269 플레이리스트 상세 UI
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/ui/src/main/res/drawable/btn_circle_background.xml
  android/core/ui/src/main/res/drawable/gradient_background.xml
  android/core/ui/src/main/res/drawable/ic_play.xml
  android/core/ui/src/main/res/values-night/themes.xml
  android/core/ui/src/main/res/values/dimens.xml
  android/core/ui/src/main/res/values/strings.xml
  android/core/ui/src/main/res/values/themes.xml
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/mypage/src/main/res/layout/fragment_my_musics.xml
  android/feature/mypage/src/main/res/layout/fragment_my_page.xml
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/player/src/main/res/values/strings.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistAdapter.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/model/PlaylistUiModel.kt
  android/feature/playlist/src/main/res/layout/fragment_playlist_detail.xml
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
  android/feature/playlist/src/main/res/layout/item_playlist.xml
  android/feature/playlist/src/main/res/navigation/playlist_navigation.xml
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🤖 android

#279 이미지 업로드 로직에 CLOVA GreenEye API 추가
  .github/workflows/server-cd.yml
  server/src/config/errorCode.enum.ts
  server/src/config/greenEye.service.ts
  server/src/dto/greenEye.response.dto.ts
  server/src/entity/music.entity.ts
  server/src/music/music.module.ts
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
Labels: ✨ feat, 🖥 server

#282 UI 개선, 바텀 내비게이션 애니메이션 적용
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/ui/src/main/res/layout/item_music_horizontal.xml
  android/core/ui/src/main/res/layout/item_music_vertical.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerEventListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerListener.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
Labels: 🤹 enhance, 🤖 android

#276 노래 검색 및 더보기 기능
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/MusicApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchViewModel.kt
  android/feature/search/src/main/res/layout/fragment_search.xml
Labels: ✨ feat, 🤖 android

#285 현재 플레이 중인 음악 정보 표시
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerControlView.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerUtil.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/player/src/main/res/layout/view_player_control.xml
  android/feature/player/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#290 Recent_Played 테이블 생성 + API 수정
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/constants.ts
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/recent_played.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.service.spec.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
  server/test/constants/music.mockData.ts
Labels: ✨ feat, 🖥 server

#291 키보드가 보일 때, 화면이 보이지 않는 이슈 해결
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/RootViewInsetsCallback.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageFragment.kt
  android/feature/mypage/src/main/res/layout/fragment_my_musics.xml
  android/feature/mypage/src/main/res/layout/fragment_my_page.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/res/layout/fragment_player.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/search/src/main/res/layout/fragment_search.xml
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: 🛠️ refactor, 🤖 android

#296 노래 재생 화면에서 플레이 리스트에 추가
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/PlaylistApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/AddMusicToPlaylistRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/PlaylistRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/PlaylistRepository.kt
  android/core/ui/build.gradle.kts
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistAdapter.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistBottomSheet.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistBottomSheetViewModel.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/model/PlaylistUiModel.kt
  android/core/ui/src/main/res/layout/bottom_sheet_playlist.xml
  android/core/ui/src/main/res/layout/item_playlist.xml
  android/core/ui/src/main/res/values/strings.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/res/navigation/player_navigation.xml
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/playlist/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#297 최근재생목록
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/MusicIdRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/MusicRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/MusicRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/playlist/GetPlaylistUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/playlist/GetPlaylistsUseCase.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
Labels: ✨ feat, 🤖 android

#299 DB 인덱스 추가 + 도커 컨테이너 타임존 설정
  server/Dockerfile
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/playlist.entity.ts
  server/src/entity/recent_played.entity.ts
  server/src/user/user.service.ts
Labels: 🤹 enhance, 🖥 server

#305 최근 재생한 노래 재생
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/home/src/main/res/layout/fragment_home.xml
  android/feature/playlist/src/main/res/layout/fragment_playlist_detail.xml
Labels: ✨ feat, 🤖 android

#301 인코딩 로직 수정 (cloud functions 활용)
  .github/workflows/server-cd.yml
  .github/workflows/server-dev-ci.yml
  server/cloud_functions/Dockerfile
  server/cloud_functions/app.js
  server/package-lock.json
  server/package.json
  server/src/config/ncloud.config.ts
  server/src/constants.ts
  server/src/dto/cloudFunctions.response.dto.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/upload/upload.service.ts
  server/tsconfig.build.json
Labels: 🤹 enhance, 🖥 server

#306 백그라운드에서 노래 재생 관리
  android/app/src/main/java/com/ohdodok/catchytape/mediasession/PlaybackService.kt
Labels: ✨ feat, 🤖 android

#309 @types/crypto-js 모듈 추가
  server/package-lock.json
  server/package.json
  server/src/config/ncloud.config.ts
Labels: 🐞 bug, 🖥 server

#310 껐다 켜면 자동 재생하는 문제
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
Labels: 🐞 bug, 🤖 android

#311 Crypto 모듈 사용 부분 코드 수정
  server/src/config/ncloud.config.ts
Labels: 🐞 bug, 🖥 server

#312 cloud functions 폴더명 변경
  server/cloud-functions/Dockerfile
  server/cloud-functions/app.js
  server/tsconfig.build.json
Labels: 🧦 chore, 🖥 server

#314 fix : 잘못된 secret key 설정 수정
  .github/workflows/server-cd.yml
Labels: 🐞 bug, 🖥 server

#315 github actions 트리거용 수정
  server/src/app.controller.spec.ts
  server/src/app.service.ts
  server/test/app.e2e-spec.ts
Labels: 🖥 server

#317 업로드 과정 중 예외 처리
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/CtErrorType.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/cterror/CtError.kt
  android/core/ui/src/main/res/values/strings.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadFragment.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
Labels: ✨ feat, 🤖 android

#320 서버 로그 파일 저장 경로 설정
  .github/workflows/server-cd.yml
Labels: 🛠️ refactor, ⚙️ setting, 🖥 server

#324 마이 페이지에서 업로드 화면으로 이동
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageFragment.kt
Labels: ✨ feat, 🤖 android

#323 Music e2e 테스트 추가
  server/src/music/music.controller.spec.ts
  server/test/constants/music.mockData.ts
Labels: 🔎 test, 🖥 server

#327 재생 목록 추가시 UI 즉시 반영
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/playlist/src/main/res/layout/fragment_playlists.xml
Labels: 🐞 bug, 🤖 android

#328 음악을 재생목록에 추가할 때 발생하는 이슈 처리
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistBottomSheet.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistBottomSheetViewModel.kt
  android/core/ui/src/main/res/values/strings.xml
Labels: 🐞 bug, 🤖 android

#333 앱 재진입시 재생 버그 fix (재생 중(isPlaying=true)인 상태에서 앱 종료)
  android/app/src/main/java/com/ohdodok/catchytape/mediasession/PlaybackService.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/player/CurrentPlayListUseCase.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/gradle/libs.versions.toml
Labels: 🐞 bug, 🤖 android

#335 네트워크가 없는 상태에서, 이전 곡, 다음 곡 이동 예외 처리
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
  android/build-logic/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  android/core/ui/src/main/res/values/strings.xml
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
Labels: 🐞 bug, 🤖 android

#337 검색 화면 UX 개선, more 버튼시 출력
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/player/CurrentPlayListUseCase.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/MusicAdapter.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistAdapter.kt
  android/core/ui/src/main/res/values/strings.xml
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchViewModel.kt
  android/feature/search/src/main/res/layout/fragment_search.xml
Labels: ✨ feat, 🐞 bug, 🤖 android

#339 QA에서 발견한 버그 개선 및 MyPage -> Player 이동
  android/app/src/main/AndroidManifest.xml
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/utils/CoroutineUtils.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseFragment.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/ViewUtils.kt
  android/core/ui/src/main/res/layout/bottom_sheet_playlist.xml
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsViewModel.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageFragment.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageViewModel.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerFragment.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailFragment.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsFragment.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchFragment.kt
  android/feature/upload/src/main/res/layout/fragment_upload.xml
Labels: ✨ feat, 🐞 bug, 🤖 android

#342 음악 업로드 에러 추가
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/CtErrorType.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/cterror/CtError.kt
  android/core/ui/src/main/res/values/strings.xml
Labels: ✨ feat, 🤖 android

#345 네비게이션 애니메이션 동작
  android/app/src/main/java/com/ohdodok/catchytape/MainActivity.kt
Labels: 🐞 bug, 🤖 android

#348 gradle kotlin options 추출
  android/build-logic/build.gradle.kts
  android/core/data/build.gradle.kts
  android/core/domain/build.gradle.kts
  android/core/ui/build.gradle.kts
  android/feature/home/build.gradle.kts
  android/feature/login/build.gradle.kts
  android/feature/mypage/build.gradle.kts
  android/feature/player/build.gradle.kts
  android/feature/playlist/build.gradle.kts
  android/feature/search/build.gradle.kts
  android/feature/upload/build.gradle.kts
Labels: 🛠️ refactor, 🤖 android
