Repository boostcampwm2023/and04-catchy-tape, pull requests merged in 2024-02, with the labels that each got.

#391 Strict 옵션 적용
  .github/workflows/server-dev-ci.yml
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/config/decorators.ts
  server/src/config/errorCode.enum.ts
  server/src/config/greenEye.service.ts
  server/src/config/ncloud.config.ts
  server/src/dto/playlistInfo.dto.ts
  server/src/dto/userUpdate.dto.ts
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/recent_played.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.controller.ts
  server/src/music/music.module.ts
  server/src/music/music.repository.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.repository.ts
  server/src/playlist/playlist.service.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.service.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
  server/test/constants/music.mockData.ts
  server/tsconfig.json
Labels: 🛠️ refactor, 🖥 server

#393 Repository 계층 모두 디렉토리로 분리
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/config/errorCode.enum.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/recent_played.entity.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.module.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.module.ts
  server/src/playlist/playlist.service.ts
  server/src/repository/music.repository.ts
  server/src/repository/music_playlist.repository.ts
  server/src/repository/playlist.repository.ts
  server/src/repository/recent_played.repository.ts
  server/src/repository/user.repository.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
Labels: 🛠️ refactor, 🖥 server

#395 /users/signup 반환값 수정
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Labels: 🐞 bug, 🖥 server

#369 viewModel ExceptionHandling 보일러 플레이트 개선
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/BaseViewModel.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/PlaylistBottomSheetViewModel.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsViewModel.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageViewModel.kt
  android/feature/player/src/main/java/com/ohdodok/catchytape/feature/player/PlayerViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistsViewModel.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchViewModel.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
Labels: 🛠️ refactor, 🤖 android

#398 무중단배포 쉡 스크립트 작성
  .github/workflows/server-cd.yml
  server/deploy.sh
Labels: ✨ feat, 🖥 server

#399 배포 스트립트 수정
  .github/workflows/server-cd.yml
  server/deploy.sh
Labels: 🐞 bug, 🖥 server

#400 deploy.sh 수정
  server/deploy.sh
Labels: 🐞 bug, 🖥 server

#401 deploy.sh 수정
  server/deploy.sh
Labels: 🐞 bug, 🖥 server

#403 간단한 서버 폴더구조 및 코드 리팩토링
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/codes/errorCode.enum.ts
  server/src/codes/httpStatusCode.enum.ts
  server/src/config/catchyException.ts
  server/src/config/greenEye.config.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.controller.ts
  server/src/music/music.module.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
  server/src/repository/music.repository.ts
  server/src/repository/music_playlist.repository.ts
  server/src/repository/playlist.repository.ts
  server/src/repository/recent_played.repository.ts
  server/src/repository/user.repository.ts
  server/src/upload/upload.controller.ts
  server/src/upload/upload.module.ts
  server/src/upload/upload.service.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: 🧦 chore, 🖥 server

#396 개선된 로그인 반영 (Oauth)
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/api/UserApi.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/datasource/TokenLocalDataSource.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/RepositoryModule.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/AuthTokenResponse.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/model/RefreshRequest.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/AuthRepositoryImpl.kt
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/repository/UserTokenRepositoryImpl.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/AuthToken.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/model/CtErrorType.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/AuthRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/repository/UserTokenRepository.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/login/AutomaticallyLoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/login/LoginUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/signup/SignUpUseCase.kt
  android/core/ui/src/main/java/com/ohdodok/catchytape/core/ui/cterror/CtError.kt
  android/core/ui/src/main/res/values/strings.xml
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/LoginViewModel.kt
  android/feature/login/src/main/java/com/ohdodok/catchytape/feature/login/NicknameViewModel.kt
Labels: ✨ feat, 🤖 android

#411 도커 브릿지 추가
  server/deploy-spring.sh
  server/deploy.sh
  server/nest/src/app.controller.spec.ts
  server/nest/src/app.service.ts
Labels: 🐞 bug, 🖥 server

#412 cd 스크립트 수정
  .github/workflows/server-cd-spring.yml
  .github/workflows/server-cd.yml
  server/nest/src/app.controller.spec.ts
  server/nest/src/app.service.ts
Labels: 🐞 bug, 🖥 server

#414 refresh token 내용 수정
  server/nest/src/auth/auth.service.ts
Labels: 🐞 bug, 🖥 server

#417 Service 계층에서 발생하는 에러 상태 코드 수정
  server/nest/src/auth/auth.controller.ts
  server/nest/src/auth/auth.service.ts
  server/nest/src/repository/playlist.repository.ts
  server/nest/src/user/user.controller.ts
  server/nest/src/user/user.service.ts
Labels: 🧦 chore, 🖥 server
