Repository boostcampwm2023/and04-catchy-tape, pull requests merged in 2024-01, with the labels that each got.

#360 재생목록에서 음악 삭제
  server/src/config/errorCode.enum.ts
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#364 아티스트 정보 수정 API 추가
  server/src/config/errorCode.enum.ts
  server/src/dto/userUpdate.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#365 Auth, Music, Playlist 에 트랜잭션 추가
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.service.ts
Labels: 🛠️ refactor, 🖥 server

#368 사용자의 플레이리스트 삭제 API 추가
  server/src/playlist/playlist.controller.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#359 음악을 재생목록에 추가할 때 발생하는 이슈 처리
  android/core/ui/src/main/res/drawable/bottomsheet_background.xml
  android/core/ui/src/main/res/drawable/bottomsheet_indicator.xml
  android/core/ui/src/main/res/layout/bottom_sheet_playlist.xml
Labels: 🐞 bug, 🤖 android

#370 노래 삭제 API 구현
  server/src/constants.ts
  server/src/entity/music.entity.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/recent_played.entity.ts
  server/src/music/music.controller.ts
  server/src/music/music.service.ts
Labels: ✨ feat, 🖥 server

#371 아티스트 삭제
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/entity/user.entity.ts
  server/src/upload/upload.controller.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#373 music, user 트랜잭션
  server/src/entity/recent_played.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.service.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#350 CurrentPlaylistUseCase 리팩토링
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/player/CurrentPlayListUseCase.kt
  android/feature/home/src/main/java/com/ohdodok/catchytape/feature/home/HomeViewModel.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyMusicsViewModel.kt
  android/feature/mypage/src/main/java/com/ohdodok/catchytape/feature/mypage/MyPageViewModel.kt
  android/feature/playlist/src/main/java/com/ohdodok/catchytape/feature/playlist/PlaylistDetailViewModel.kt
  android/feature/search/src/main/java/com/ohdodok/catchytape/feature/search/SearchViewModel.kt
Labels: 🛠️ refactor, 🤖 android

#382 playlist 쿼리문 entity 로 이동
  server/src/config/errorCode.enum.ts
  server/src/entity/music_playlist.entity.ts
  server/src/entity/playlist.entity.ts
  server/src/playlist/playlist.service.ts
Labels: 🛠️ refactor, 🖥 server

#381 user, auth, music 트랜잭션 코드 entity로 이동
  server/src/auth/auth.service.ts
  server/src/entity/music.entity.ts
  server/src/entity/user.entity.ts
  server/src/music/music.service.ts
  server/src/user/user.service.ts
Labels: 🛠️ refactor, 🖥 server

#378 동일한 음악에 대해 동일한 uuid로 업로드
  android/core/data/src/main/java/com/ohdodok/catchytape/core/data/di/NetworkModule.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/upload/UploadFileUseCase.kt
  android/core/domain/src/main/java/com/ohdodok/catchytape/core/domain/usecase/upload/UploadMusicUseCase.kt
  android/feature/upload/src/main/java/com/ohdodok/catchytape/feature/upload/UploadViewModel.kt
Labels: 🤹 enhance, 🤖 android

#385 Playlist Repository 생성
  server/src/auth/auth.service.spec.ts
  server/src/entity/playlist.entity.ts
  server/src/playlist/playlist.module.ts
  server/src/playlist/playlist.repository.ts
  server/src/playlist/playlist.service.ts
Labels: ✨ feat, 🖥 server

#387 MusicRepository 추가
  server/src/auth/auth.service.spec.ts
  server/src/entity/music.entity.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.module.ts
  server/src/music/music.repository.ts
  server/src/music/music.service.spec.ts
  server/src/music/music.service.ts
  server/src/playlist/playlist.module.ts
  server/src/playlist/playlist.repository.ts
  server/src/playlist/playlist.service.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
Labels: ✨ feat, 🖥 server

#386 Refresh Token 추가 & Redis 연결
  .github/workflows/server-cd.yml
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/config/errorCode.enum.ts
  server/src/constants.ts
  server/src/dto/userUpdate.dto.ts
  server/src/music/music.controller.spec.ts
  server/src/music/music.service.spec.ts
Labels: ✨ feat, 🖥 server

#388 redis 관련 CD 파일 수정
  .github/workflows/server-cd.yml
  server/src/music/music.repository.ts
Labels: 🐞 bug, 🖥 server

#389 cd 파일 수정
  .github/workflows/server-cd.yml
  server/src/music/music.repository.ts
Labels: 🐞 bug, 🖥 server
